.centeralign {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottomalign{
    background: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.reroll {
    display: flex;
    height: 20px;
}
#notation {
    width: 20em !important;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
html {
    display: block;
    border: 0px;
}
body {
    margin: 0px;
}